*{
    background-color: black;

}
p{
    background-color: aqua;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 1px solid tomato;
    width: 60%;
}
div{
    background-color: coral;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 3000;
    border: 3px solid black;
    width: 50%;
    display: flex;
    text-align: center;
}